# .NET
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.idea/
*.user
backend/.vs/

# Python
**/__pycache__/
**/venv/
**/.env

# Frontend
**/node_modules/
**/dist/
backend/User/appsettings.json
backend\User\appsettings.json
backend\News\appsettings.json
backend/News/appsettings.json