.env
.env.local
.env.*.local
*.env
.env.prod
.env.*.prod

# .NET
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.idea/
.vs/
*.user
backend/.vs

out/
publish/


# Python
**/__pycache__/
**/.vscode/
**/venv/
**/.env

# Frontend
**/node_modules/
**/dist/

**.DS_Store

# DOCKER
docker-compose.override.yml
compose.override.yaml

#DB
*.db
*.sqlite

# Backend
backend/User/appsettings.json
backend\User\appsettings.json
backend\News\appsettings.json
backend/News/appsettings.json
backend/StockTok/appsettings.json
backend/StockTok/appsettings.Development.json
backend\Social\appsettings.json
backend/Social/appsettings.json

.vs
env
appsettings.json
appsettings.Development.json

# Ignore environment files for services (local secrets)
backend/User/.env

# Backend (For Mac)
.DS_Store
backend/.DS_Store
